.main {
  :global(.ant-layout) {
    /* display: flex; */
    /* align-items: center; */
    min-height: 100vh;
    background: white;

    :global(.ant-layout-header) {
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      width: 100%;
    }

    :global(.ant-layout-content) {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      user-select: none;
      background: white;
      width: 80%;
    }

    :global(.ant-layout-sider) {
      display: flex;
      flex-direction: column;
      gap: 16px;
      background: white;
      padding: 16px;
      width: 20%;
    }
  }
}
